@model DrugPrevention.Repositories.TuyenTM.Models.OrganizationProgramsTuyenTM

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>OrganizationProgramsTuyenTM</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JoinedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JoinedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContributionDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContributionDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsSponsor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsSponsor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsOrganizer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsOrganizer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProgramRole)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProgramRole)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FundingAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FundingAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Feedback)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Feedback)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastUpdated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastUpdated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Organization)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Organization.OrganizationName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProgramToanNS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProgramToanNS.ProgramName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.OrganizationProgramTuyenTMID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
